@charset "utf-8";

        html {
            font-size: 20px;
            font-family: 'pretendard', AppleSDGothicNeo-Light, Malgun Gothic, dotum, sans-serif;
        }
        body { margin: 0; }
        h1 { display: inline-block;  }
        h3 { text-transform: capitalize; }
        ul { list-style: none; padding: 0; margin: 0; }
        a { text-decoration: none; }
        img { vertical-align: top; }        

        .container header { padding: 0 30px; border-bottom: 1px solid rgb(165, 165, 165); }
        /* logo */
        .container header .logo img { height: 85px; }
        /* menu */
        .container header #gnb {
            display: flex;
            justify-content: flex-end;
            position: absolute; 
            top: 0; right: 0;
            padding-right: 25px;
        }
        .container header #gnb a {
            padding: 29px 20px;
            display: block;
            color: rgb(63, 63, 63); 
            font-weight: bold;
            text-transform: uppercase;
        }


        .container .main_banner { 
            display: flex; 
            justify-content: center; 
            align-items: center;
            padding: 30px 0;

        }
        .main_banner{
            background-color: rgb(250, 220, 220);
            background-image: url(../images/main-bg.png);
            background-position: center center;
            background-size: cover;
        }
        .container .text_md { width: 31%; }
        .container .text_md p {
            font-size: 1rem;
            text-transform: uppercase;
            letter-spacing: 5px;
            color: rgb(68, 68, 68);
        }
        .container .text_md h2 {
            font-size: 4.2rem;
            font-weight: 300;
            text-transform: capitalize;
            margin: 0;
        }
        .container .main_banner img {
            width: 45%;
        }


        /* box1 */
        .container .box1 {
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-items: center;
            padding: 108px 0;
        }
        .container .box1 .txt_box {
            padding: 48px;
            width: 68%;
        }
        .container .box1 .txt_box h3 {
            margin-bottom: 18px;
            font-size: 32px;
        }
        .container .box1 .txt_box p {
            line-height: 1.8;
        }


        /* grid-container */
        .container main .grid-container {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(3, 1fr);
            
        }
        .grid-container img { width: 100%; }
        .grid-container .grid-item1 {
            grid-column: 1/3;
            grid-row: 1/3;
        }
        .grid-container .grid-item2 { 
            grid-column: 3/4;
            grid-row: 1/2;
        }
        .grid-container .grid-item3 { 
            grid-column: 2/3;
            grid-row: 3/4;
            
        }
        .grid-container .grid-item4 { 
            grid-column: 3/5;
            grid-row: 2/3;
        }
        .grid-container .grid-item5 {
            grid-column: 3/5;
            grid-row: 3/4;
        }
        .grid-container .grid-item6 { 
            grid-column: 1/2;
            grid-row: 3/4;
        }
        .grid-container .grid-item7 { 
            grid-column: 4/5;
            grid-row: 1/2;
        }


        /* box2 */
        .container main .box2 {
            padding: 108px 0;
            display: flex;            
            flex-direction: column;
            width: 80%;
            margin: 0 auto;
        }
        .container main .box2 .txt {
            text-align: center;
            font-size: 1.1rem;
            line-height: 1.7;
            padding-bottom: 48px;
        }
        .line {
            margin-right: auto;
            margin-left: auto;
            border: 2px solid black;
        }
        .container main .box2 h3 {
            font-size: 3rem;
            margin: 25px 0 10px
        }
        .container main .box2 .img-box {
            width: 49%;
            display: inline-block;
            padding: 0 6px;
            box-sizing: border-box;
            text-align: center;
        }
        .container main .box2 .img-box img {
            width: 100%;
        }

        .box2 .img-box .box2-img-txt { padding: 23px 0 35px; }
        .box2 .img-box h5 {
            font-size: 1.4rem;
            margin: 0;
        }
        .box2 .img-box p {
            font-size: 18px;
            margin-top: 15px;
        }

        
        /* box3 */
        .box3 {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 108px 100px;
            background-color: #F8F9FA;
        }
        .box3 .box3-txt { width: 49%; padding: 0 4.5rem 3rem; box-sizing: border-box; }
        .box3 .box3-txt h3 {
            font-size: 3rem;
            margin: 0;
        }
        .box3 .box3-txt h5 { 
            font-size: 1.2rem; 
            font-weight: 300; 
            text-align: justify;
            margin: 0;
            line-height: 1.4;
            text-transform: none;
        }
        .box3 iframe {
            margin: 0 auto;
        }


        /* box4 */
        .container main .box4 {
            padding: 108px 0;
        }
        .container main .box4 .txt {
            text-align: center;
            font-size: 1.1rem;
            line-height: 1.7;
            padding-bottom: 48px;
        }
        .container main .box4 h3 {
            font-size: 3rem;
            margin: 0 0 30px;
            
        }
        